@font-face {
    font-family: "FuturaPT-Book";
    src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
}

@font-face {
    font-family: "FuturaPT-Bold";
    src: url("../fonts/FuturaPT-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "FuturaPTMedium";
    src: url("../fonts/FuturaPTMedium.eot");
    src: url("../fonts/FuturaPTMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaPTMedium.woff") format("woff"),
    url("../fonts/FuturaPTMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 450;
    font-display: swap;
}

@font-face {
    font-family: "FuturaPT-Light";
    src: url("../fonts/FuturaPT-Light.ttf") format("truetype");
    font-weight: 300;
}

body {
    background-color: #FFFFFF;
    background-image: url("/assets/img/circle.png");
    background-repeat: no-repeat;
    background-position: right -502px top 129px;

}

.logo {
    position: relative;
}

.nav__item {
    text-decoration: none;
    font-family: "FuturaPT-Book", sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: #12253B;
    transition: 0.3s;
}

.nav__item:hover {
    color: #BD8355;
}

.nav__item:not(:last-child) {
    margin-right: 52px;
}

.btn {
    background-color: transparent;
    font-family: "FuturaPT-Book", sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: #BD8355;
    border: 1px solid #BD8355;
    box-sizing: border-box;
    border-radius: 200px;
    margin-left: auto;
    margin-right: 52px;
    width: 178px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #BD8355;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
    margin-left: 62px;
    margin-right: 62px;
}

.section__div__h1 {
    font-family: "FuturaPTMedium", serif;
    font-weight: 450;
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #12253B;
    margin-bottom: 0;
    margin-top: 0;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-left: 62px;

}

.section__div {
    margin-top: 174px;
}

p {
    margin: 0;
}

.section__div__p {
    display: block;
    width: 330px;
    font-family: 'Roboto', sans-serif;
    padding-top: 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #314961;
}

.btn__order {
    font-family: "FuturaPT-Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: #2B8CFC;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
    width: 206px;
    height: 66px;
    border: none;
    margin-top: 56px;
}

.btn__order:hover {
    background: #BD8355;
    color: #FFFFFF;
}

.btn__dealer {
    font-family: "FuturaPT-Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #767676;
    border: 1px solid #D3D7DB;
    box-sizing: border-box;
    width: 234px;
    height: 66px;
    margin-left: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.btn__dealer:hover {
    color: #BD8355;
    border: 1px solid #BD8355;
}

.parameters {
    margin-top: 82px;
    display: grid;
    grid-template-columns: 70px 100px 90px 96px;
    grid-template-rows: 49px 16px;
    grid-column-gap: 42px;
    grid-row-gap: 12px;
    align-items: center;
    justify-items: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 50px;
    color: #314961;
}

.icon__1 {
    width: 42px;
    height: 44px;
}

.icon__2 {
    width: 24px;
    height: 48px;
}

.icon__3 {
    width: 41px;
    height: 42px;
}

.icon__4 {
    width: 47px;
    height: 40px;
}

.p__border {
    border-bottom: 1px dashed #CCD3DB;
    padding-bottom: 2px;
}

.curtain__1 {
    /*background: url("../img/yellowcurtain.png");*/
    filter: drop-shadow(22px 40px 70px rgba(191, 145, 0, 0.33));
    margin-top: 94px;
    margin-right: 62px;
}

.p__characteristic1 {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.1em;
    color: #314961;
    margin-top: 100px;
    margin-bottom: 14px;

}

.p__characteristic2 {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.1em;
    color: #314961;
    margin-top: 14px;
    margin-left: -2px;
}

.p__characteristic3 {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.1em;
    color: #314961;
    width: 220px;
    height: 102px;
    margin-left: 38px;


}

.section_types_of_curtains {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 180px;
    margin-left: 62px;
    margin-right: 62px;
}

.div_types_of_curtains {
    display: flex;
    flex-flow: column;
}

.type_of_curtain {
    margin-top: 120px;
    margin-left: 162px;
    display: flex;
    flex-flow: row;
    align-items: center;

}

.gradient {
    margin-top: 168px;
    background: linear-gradient(180deg, #F3F7FE 0%, rgba(249, 251, 255, 0) 100%);
}

.title {
    padding-top: 146px;
}

.choosing {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 46px;
    line-height: 59px;
    letter-spacing: 0.1em;
    color: #314961;
    text-align: center;

}

.exclusive {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    align-items: center;
    margin-top: 6px;
}

.section__cornices {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.06em;
    color: #314961;
    width: 248px;
}

.variant {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #A9B7C6;
    width: 308px;
    margin-top: 14px;

}

.cornices {
    margin-top: 136px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.div__cornices {
    display: flex;
    flex-flow: column;
    margin-right: 90px;
    margin-left: 152px;
}

.arrow {
    margin-left: 46px;
    margin-right: 62px;
}

.cornices__rope {
    display: flex;
    flex-flow: row;
}

.chain__p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #12253B;
}

.chain__p1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #12253B;
    margin-bottom: 20px;
}

.chain__p2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #12253B;
    margin-top: 20px;
}

.chain__flex {
    display: flex;
    flex-flow: row;
    margin-left: 156px;
    margin-top: 176px;
}

.chain__flex__div {
    display: flex;
    flex-flow: column;
    margin-right: 42px;
}

.chain__cornices {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.06em;
    width: 236px;
    color: #314961;
    margin-bottom: 34px;
}

.chain__characteristic {
    display: flex;
    flex-flow: column;
    margin-top: 38px;
    margin-left: 90px;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #A9B7C6;
    width: 197px;
    margin-bottom: 16px;
    margin-left: 18px;
    position: relative;

}

.blue__circle {
    position: absolute;
    left: -18px;
    top: 6px
}

.border {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 52px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: #314961;
}

.eight__variants {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #666666;

}

.eight {
    color: #2B8CFC;
}

.types {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #314961;
    opacity: 0.8;
    display: inline-block;
    padding: 6px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.grid {
    display: grid;
    grid-template-areas: "area area jester chess hayway"
    "luvers king horizont viktoria strimduo";
    grid-gap: 36px;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 98px;
}

.area {
    grid-area: area;
}

.chess {
    grid-area: chess;
}

.jester {
    grid-area: jester;

}

.hayway {
    grid-area: hayway;

}

.king {
    grid-area: king;

}

.luvers {
    grid-area: luvers;

}

.horizont {
    grid-area: horizont;

}

.viktoria {
    grid-area: viktoria;

}

.strimduo {
    grid-area: strimduo;

}

.item {
    position: relative;
}

.day__night {
    margin-top: 134px;
}

.p__day__night {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 60px;
    line-height: 77px;
    letter-spacing: 0.04em;
    color: #FFCF23;
    margin-top: 10px;
}

.night {
    color: #314961;
}

.p__curtain__day__night {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    width: 348px;
    margin-top: 10px;
}

.span__day__night {
    color: #2B8CFC;
}

.div__day__night {
    display: inline-block;
    padding: 84px 66px 136px 76px;
    background: #F7F8F9;
    box-shadow: 22px 28px 62px rgba(18, 37, 59, 0.14);
    position: absolute;
    top: 138px;
    left: 604px;
}

.curtain__day__night {
    position: relative;
}

.types__of__cornices {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 46px;
    line-height: 59px;
    letter-spacing: 0.04em;
    color: #314961;
    margin-top: 156px;
    text-align: center;
}

.p__types__of__cornices {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #314961;
    width: 298px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #6A88A6;
    margin-top: 8px;
    margin-bottom: 32px;
}

.flex__types__of__cornices {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 58px;
    margin-top: 78px;
}

.div__types__of__cornices {
    display: flex;
    flex-flow: column;
}

.bevel {
    display: flex;
    flex-flow: row;
    margin-top: 156px;
}

.bevel__section {
    background: #12253B;
    width: 100%;
    padding-top: 148px;
}

.bevel__title {
    width: 246px;
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: auto;

}

.bevel__variants {
    width: 246px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 12px auto auto;

}

.auto__title {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 0.04em;

    color: #314961;
}

.auto__system {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #666666;
    margin-top: 10px;
}

.controller {
    color: #2B8CFC;
}

.auto__section {
    display: flex;
    flex-flow: column;
}

.auto {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;

}

.motor__title {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 398px;
    color: #142536;
}

.motor__description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 398px;

    color: #142536;
}

.motor__photo {
    position: absolute;
    left: 77px;
    bottom: 0;
}

.motor {
    background: #DAC3A2;
    border-radius: 20px;
    padding: 94px 60px 102px 360px;
    margin-top: 136px;
    margin-left: auto;
    margin-right: auto;
    border-width: 820px;
    width: 398px;
    position: relative;
}

.flow__title {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.1em;

    color: #12253B;
}

.flow__description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #12253B;
    margin-top: 8px;
    margin-bottom: 50px;
}

.flow__blue {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #2B8CFC;
}

.flow__section {
    display: flex;
    flex-flow: column;
    margin-left: 108px;
}

.flow {
    display: flex;
    flex-flow: row;
    margin-top: 182px;
    justify-content: space-between;
}

.flow__price {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #2B8CFC;
    width: 206px;
    height: 48px;
    padding: 26px 126px 36px 218px;
}

.price {
    position: absolute;
    left: 128px;
    top: 418px;
}

.flow__section2 {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-right: 104px;
}

.dealer__title {
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #314961;
    background: #FFFFFF;
    width: 440px;
    padding-top: 20px;
    padding-bottom: 18px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%)
}

.dealer__description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #90A2B8;
    margin-top: 60px;

}

.dealer {
    position: relative;
}

#user-humber {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    width: 270px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #B5B5B5;
    padding-left: 16px;
    margin-top: 44px;
}

.button__dealer {
    background: #2B8CFC;
    width: 270px;
    height: 56px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: #FFFFFF;
}

.dealer__border {
    display: flex;
    flex-flow: column;
    border: 1px dashed #476482;
    box-sizing: border-box;
    align-items: center;
    width: 676px;
    height: 388px;
    position: relative;
    margin: 220px auto 150px;

}

.scissors {
    position: absolute;
    left: -20px;
    top: 44px;
}

.curtain__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    /*border-bottom: 1px solid #7E8D9C;*/
    transition: 0.3s;
    margin-bottom: 18px;
    padding-bottom: 4px;
}

.curtain__link:hover {
    color: #DFE7EF;
    /*border-bottom: 2px solid #DFE7EF;*/

}

.footer__curtains {
    background: #314961;
    width: 466px;
    height: 288px;
}

.curtain__flex {
    display: flex;
    flex-flow: column;
    margin-top: 62px;
}

.footer__flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 108px;
}

.footer__logo {
    margin-left: 60px;
    margin-top: 58px;
}

footer {
    display: flex;
    flex-flow: row;
}

.inf__flex {
    display: flex;
    flex-flow: column;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;

}

.inf__link:not(.contacts__link, .madein__link) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    /*border-bottom: 1px solid #BDC8D2;*/
    color: #314961;
    transition: 0.3s;
    margin-bottom: 18px;

}

.contacts__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #314961;
    transition: 0.3s;
    margin-bottom: 60px;

}
.madein__link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    /*border-bottom: 1px solid #BDC8D2;*/
    color: #314961;
    transition: 0.3s;

}
.inf__link:hover {
    color: rgba(255, 255, 255, 0.56);
}

.inf {
    background: #DFE7EF;
    border-radius: 0;
    height: 288px;
}

.madein {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.contacts {
    background: #F4F7FA;
    border-radius: 0px;
    width: 428px;
    height: 288px;
}

.number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #314961;
    margin-top: 62px;
    margin-left: 96px;
    margin-bottom: 16px;

}
.adress{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-left: 96px;
margin-bottom: 14px;
    color: #314961;
}
.email{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-left: 96px;
margin-bottom: 26px;
    color: #314961;

}
.items
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 96px;
margin-right: 180px;
    align-items: center;
}